/* CSS styles go here */
body    {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header  {
    background: #333;
    color: white;
    padding: 40px;
    text-align: center;
}

.contact-section    {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input, textarea {
    width: 95%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solic #ccc;
}

button  {
    width: 100%;
    padding: 12px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover    {
    background: #555;
}

#status {
    margin-top: 15px;
    font-weight: bold;
}